body {
  background-color: black;
}
.cart {
  background-color: white;
  padding: 10px;
  border-radius: 100px;
  color: black;
}
.card-offer {
  border: 1px solid black;
  padding: 10px;
  width: 150px;
  border-radius: 20px;
}

.card-navbar {
  border-radius: 50px 50px 0px 0px;
  padding: 15px;
}
