.product {
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.product .div {
    background-color: #000000;
    width: 100%;
    height: 932px;
    position: relative;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    padding-right: 15px; 
}

.product .overlap {
    position: absolute;
    width: 430px;
    height: 205px;
    top: 727px;
    left: 0;
}

.product .vector {
    position: absolute;
    width: 402px;
    height: 169px;
    top: 0;
    left: 14px;
}

.product .rectangle {
    position: absolute;
    width: 430px;
    height: 90px;
    right: 100px;
    top: 115px;
    left: 0;
    background-color: #ffffff;
    border-radius: 20px 20px 0px 0px;
    border: 1px solid;
    border-color: #000000;
    box-shadow: 0px 4px 4px #00000040;
}

.product .img {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 138px;
    left: 58px;
    object-fit: cover;
}

.product .home {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 139px;
    left: 197px;
}

.product .box {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 139px;
    left: 331px;
}

.product .ellipse {
    width: 72px;
    height: 69px;
    left: 329px;
    background-color: #ffffff;
    border-radius: 36px/34.5px;
    border: 1px solid;
    border-color: #000000;
    box-shadow: 0px 4px 4px #00000040;
    position: absolute;
    top: 9px;
}

.product .shopping-cart {
    position: absolute;
    width: 33px;
    height: 31px;
    top: 29px;
    left: 347px;
}

.product .ellipse-2 {
    width: 17px;
    height: 18px;
    left: 379px;
    background-color: #b3b3b3;
    border-radius: 8.5px/9px;
    position: absolute;
    top: 9px;
}

.product .text-wrapper {
    position: absolute;
    width: 7px;
    top: 9px;
    left: 385px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.product .overlap-group {
    position: absolute;
    width: 402px;
    height: 169px;
    top: 98px;
    left: 14px;
    background-color: #ffffff;
    border-radius: 20px;
}

.product .produk {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 25px;
    left: 22px;
    object-fit: cover;
}

.product .text-wrapper-2 {
    position: absolute;
    width: 190px;
    top: 24px;
    left: 159px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 11px;
    letter-spacing: 0;
    line-height: normal;
}

.product .div-wrapper {
    position: absolute;
    width: 225px;
    height: 72px;
    top: 73px;
    left: 153px;
    background-color: #b3b3b3;
    border-radius: 10px;
}

.product .text-wrapper-3 {
    position: absolute;
    width: 190px;
    top: 8px;
    left: 12px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 11px;
    letter-spacing: 0;
    line-height: normal;
}

.product .star {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 46px;
    left: 159px;
}

.product .text-wrapper-4 {
    position: absolute;
    top: 46px;
    left: 179px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 11px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.product .text-wrapper-5 {
    position: absolute;
    top: 46px;
    left: 233px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 11px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.product .filter {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 31px;
    left: 14px;
}

.product .overlap-2 {
    position: absolute;
    width: 363px;
    height: 40px;
    top: 21px;
    left: 53px;
    background-color: #ffffff;
    border-radius: 20px;
}

.product .search {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 7px;
    left: 322px;
}

.product .text-wrapper-6 {
    position: absolute;
    width: 159px;
    top: 10px;
    left: 39px;
    font-family: "Inter-ExtraLight", Helvetica;
    font-weight: 200;
    color: #000000eb;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
}

.product .overlap-3 {
    position: absolute;
    width: 402px;
    height: 169px;
    top: 309px;
    left: 14px;
    background-color: #ffffff;
    border-radius: 20px;
}

.product .overlap-4 {
    position: absolute;
    width: 402px;
    height: 169px;
    top: 521px;
    left: 14px;
    background-color: #ffffff;
    border-radius: 20px;
}

@media screen and (max-width: 768px) {
    .product {
        height: 100vh; 
        overflow-y: auto; 
    }

    .product .div {
        width: 100%;
        height: auto;
        position: relative;
    }

    .product .overlap {
        
        width: 100%;
        height: auto;
        bottom: 30px;
        left: 0;
    }

    .product .overlap-2,
    .product .overlap-3,
    .product .overlap-4 {
        margin-bottom: 20px; 
    }

    
}